html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
body .router {
	height: 100%;
}
/* for animation of route */
.route-slider {
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    box-sizing: border-box;
    text-align: justify;
    transition: all .5s cubic-bezier(0,.69,.96,.85);
}
.route-slider.slide-from-left {
	left: 100%;
}
.route-slider.slide-from-right {
	left: -100%;
}

.route-slider.slide-from-left.slide,
.route-slider.slide-from-right.slide {
	width: 100%;
	left: 0;
	z-index: 1000 !important;
}

/* loader css */

.loader {
	border: 6px solid #e8e7e7;
    border-radius: 50%;
    border-top: 6px solid #2e8acc;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    z-index: 1001;
    position: fixed;
    margin-left: calc(50% - 20px);
    margin-top: calc(100% - 20px);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
